include ../config
block config

doctype html
html(lang= lang)

	include head

	body

		include header

		block content

		include footer

		script(src="assets/js/jquery-3.2.1.min.js")
		script(src="assets/js/slick.min.js")
		script(src="assets/js/main.min.js")