footer
	div.container
		p © 1996–2017 Роман Сидоров
		div.footer-social
			span Социалочки:
			ul
				li
					a(href="mailto:emailaddress" target="_blank") Email
				li
					a(href="#" target="_blank") Facebook
				li
					a(href="#" target="_blank") G+
				li
					a(href="#" target="_blank") Instagram
				li
					a(href="#" target="_blank") Youtube
				li
					a(href="#" target="_blank") linkedIn
		div.footer-links
			span Проекты:
			ul
				li
					a(href="#" target="_blank") lab9.pro
				li
					a(href="#" target="_blank") elinks.hosting
				li
					a(href="#" target="_blank") inreverse.me