header 
  div.container
    div.logo.logo--border-top
      a(href="/")
        img(src="assets/images/content/logo.png" alt="logo")
    div.blog.row
      div.col-8.col-xl-5.col-md-12.blog__description
        h1.blog__name Роман Сидоров
          span aka jr
        div.blog__about
          p.
            Занимаюсь дизайном 1996 года. Работаю в #[a(href='http://lab9.pro', target='_blank') lab9.pro]. 
            Путешествую и фотографирую. Изучаю устройсво других культур и стран. 
          p.
            Практикую медитацию, интересуюсь буддизмом, как философией. Йогой, как практикой развития тела. Бегаю, кручу педали, увлеченнно и с огромным удовольствием хожу под прусами и т.д.   
            #[a(href='#') Подробней.]
      div.col-4.col-xl-7.col-md-12.blog__search
        form.search
          input(type="search", name="search", placeholder="Поиск по сайту")
        div.blog__avatar
          img(src="assets/images/content/pic.jpg"  alt="avatar")
