head
	meta(charset='utf-8')
	title= title
	meta(name='author', content= author )
	meta(name='viewport', content='width=device-width, user-scalable=no')
	meta(name='description', content= metaDesc )
	link(rel='stylesheet', type='text/css', href='assets/css/slick.min.css')
	link(rel='stylesheet', type='text/css', href='assets/css/slick-theme.min.css')
	link(rel='stylesheet', type='text/css', href='assets/css/main.min.css')


