div.article__preview
	div.row
		div.col-2.col-md-4.col-sm-12.article-data
			div
				a(href="#") Дизайн и реклама
			div
				span 19 октября 2017
		div.col-10.col-md-8.col-sm-12.article-header
			p.article-header__title.
				Делаем дизайн плаката руками. Steve Reich — Music for 18 Musicians
			ul.article-header__tags
				li 
					a(href="#") Гос. учреждение
				li 
					a(href="#") Латвия
				li 
					a(href="#") Паспорт
	div.article-content
		p.
			19 лет занимаясь графическим дизайном, я, к своему стыду, не могу вспомнить ни разу, когда я бы брался за создание плаката начиная с листа бумаги, карандашей, красок, кистей. Более того, не припомню чтобы я при этом пытался визуализировать музыкальную композицию, свое видение, свою интерпретацию услышанного, не решая при этом никаких задач и проблем стороннего заказчика. Заказчик в данном случае я сам. Это как свежий горный воздух.
		img(src="assets/images/content/articles1.jpg" alt="article img")
		p.article-img-description “Трещины есть во всём, благодаря им и проникает свет.”, — Леонард Коэн
		p.
			Недавно, вписавшись в очередную авантюру, спустя шесть часов работы и многократные прослушивания совершенно великолепной часовой композиции Стива Райха (Steve Reich) — Музыка для 18 музыкантов (Music for 18 Musicians) получилось сделать хороший плакат. Это было очень круто. Особенно запомнились первые моменты, когда сидишь за столом, привычного планшета и ноутбука под рукой нет. Просто лист, пишущие принадлежности, бесконечная музыка в ушах. Вперед! Просто сделай первый шаг и будет уже сложно остановиться, ты же знаешь.
	div.article-footer
		a(href="#") Дальше интересней
