div.articles__menu
	p.articles__menu-name Рубрики:
	ul.articles__menu-list
		li.active
			a(href="#") Все
		li
			a(href="#") Путешествия
		li
			a(href="#") Дизайн и реклама
		li
			a(href="#") Кулинария
		li
			a(href="#") Музыка
		li
			a(href="#") Кино
		li
			a(href="#") Разное