section.article-full
	div.container
		div.articles__items.article-full__wrap
				div.row
					div.col-2.col-md-4.col-sm-12.article-data
						div
							a(href="#") Путешествия
						div
							span 19 октября 2017
					div.col-10.col-md-8.col-sm-12.article-header
						p.article-header__title.
							Наблюдения во время наводнения на острове Ко Панган. Да, прям вот сейчас
						ul.article-header__tags
							li 
								a(href="#") Гос. учреждение
							li 
								a(href="#") Латвия
							li 
								a(href="#") Паспорт
				div.article-content
					p.
						Cегодня проснулся от того, что кто-то пытался открыть мою дверь. Двери благо стеклянные и все видно. С той стороны двери несколько тайцев складывали мешки с песком на пороге моего бунгало в котором я остановился. Секунд через 15, быстро накинув какую-то одежду, я понимаю что картинка со вчерашнего вечера несколько изменилась. Вся территория комплекса покрыта желтоватой водой и вот-вот начнет проникать в мою комнату
					p.
						Примерно так было вчера вечером:
					img(src="assets/images/content/articles2.jpg" alt="article img")
					p.
						Примерно так стало сегодня утром:
					img(src="assets/images/content/articles3.jpg" alt="article img")
					p.
						Не буду лукавить, момент весьма волнительный. Как-то не припомню подобных сценариев по утрам в своей жизни. Нет, не поймите неправильно, было разное, но наводнение на острове в Южной Азии…?
					img(src="assets/images/content/articles2.jpg" alt="article img")
					p.
						И немного видео:
					div.article-video
						div.article-video__wrapper
							<iframe width="560" height="315" src="https://www.youtube.com/embed/0DuL0Xu08NQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
					p.
						UPD: Пообщался с американцем, приятный мужик, морячок, серфер. Говорил за 12 лет тут такое впервые. Обычно в декабре сухо и солнечно. Мужик увлекся и продолжил: “На Пангане еще ничего, тут национальный парк, много деревьев и зелени, не так много строят. Деревья, растительность и их корни держат почву и во время подобных наводнений дела получше, чем, скажем на соседнем Ко Самуи. Там они роют землю, строят дома, чтобы зарабатывать бабки с туристов, все больше и больше и больше, вырубают деревья, почва становится рыхлой. Проходят сильные дожди, почву вымывает и все это уходит в море. От таких массивных смывов погибает рыба и разрушаются близлежащие коралловые рифы. Нет рифов — нет рыбы, нечем питаться тем же акулам. А они ребята хищные, если они голодают, они начинают охотиться на всё подряд и могут продегустировать и человека. Вот такая простая связь, но до этого особо никому дела нет.” — я не специалист в этих вопросах, но звучит местами вполне логично.