section.gallery
	div.container
		+headline("В двух словах не расскажешь...", "Чуть более основательные размешления на разные темы, фотоотчеты с путешествий.")
	div.gallery__items
		+gallery-item("#", "assets/images/content/slide1.jpg", "Наблюдения во время наводнения на острове Ко Панган. Да, прям вот сейчас", "избранное: путешествия")
		+gallery-item("#", "assets/images/content/slide1.jpg", "Наблюдения во время наводнения на острове Ко Панган. Да, прям вот сейчас", "избранное: путешествия")
		+gallery-item("#", "assets/images/content/slide1.jpg", "Наблюдения во время наводнения на острове Ко Панган. Да, прям вот сейчас", "избранное: путешествия")