section.insta-blog
  div.container
    +headline("Мимолётное, Инстаграмовское", "Короткие и лёгкие зарисовки по ходу движения. <a href='#'>Можно подписаться</a>")
    div.insta-blog__items
      div.row
        +insta-blog-item("#", "assets/images/content/insta-img1.jpg", "Проведя в каком-то городе длительное время, начинаю обрастать своими местами. Местами, близкими по духу, по эстетике, по людям. Этот...")
        +insta-blog-item("#", "assets/images/content/insta-img1.jpg", "Проведя в каком-то городе длительное время, начинаю обрастать своими местами. Местами, близкими по духу, по эстетике, по людям. Этот...")
        +insta-blog-item("#", "assets/images/content/insta-img1.jpg", "Проведя в каком-то городе длительное время, начинаю обрастать своими местами. Местами, близкими по духу, по эстетике, по людям. Этот...")
        +insta-blog-item("#", "assets/images/content/insta-img1.jpg", "Проведя в каком-то городе длительное время, начинаю обрастать своими местами. Местами, близкими по духу, по эстетике, по людям. Этот...")
        +insta-blog-item("#", "assets/images/content/insta-img1.jpg", "Проведя в каком-то городе длительное время, начинаю обрастать своими местами. Местами, близкими по духу, по эстетике, по людям. Этот...")
        div.col-2.col-xl-4.col-md-6.col-sm-12.insta-blog__more
          a(href='#')
            img(src="assets/images/icons/insta-icon.png" alt="insta icon")
            p.
              Больше фотографий и кратких зарисовок #[span в Instagram]
